@media only screen and (max-width: 980px) {

	.desktopMenu {
		display: none;
	}
	.aligns {
		display: none;
	}
	.contents {
		display: none;
	}
  .heades {
    display: none;
  }
  ul.top-contact li {
    display: block;
    margin: 0 auto;
  }
	ul.social-network {
       list-style: none;
       margin: 0;
       text-align: center;
       float: none;
  }
  #Mobile-menu {
  	display: block;
  	/*background-color: #61b53c;*/
  }
  .m-menus {
    margin: 0 auto;
    width: 100%;
    background-color: #61b53c;
    height: 45px;
    line-height: 45px;
    color: #FFF;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    border-bottom: 2px solid #FFF;
  } 
  .m-left {
    width: 50%;
    float: left;
    text-align: left;
    padding-left: 15px;
  }
  .m-right {
width: 50%;
    float: right;
    text-align: right;
    padding-right: 15px;
  }
 .top-contact {
 	text-align: center;
  } 
 .mmenu {
 	display: none; 
  }
  .Dc {
  display: none; 
  }
  .Dc1 {
  display: none; 
  }
   .Dc2 {
  display: none; 
  }
   .Dc3 {
  display: none; 
  }
  .Dc4 {
  display: none; 
  }

 #Mobile-menu  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #61b53c ;
 }
#Mobile-menu ul li {
    width: 100%;
    line-height: 45px;
    cursor: pointer;
    text-align: left;
    border-bottom: 1px solid #FFF;
}
#Mobile-menu  ul li a{
    color:#FFF;
    text-decoration:none;
    padding-left:10px;
    } 
.ms {
    padding: 10px;
   }

  .mi_top{
    margin-top: 0px;
    background-color: #FFF;
    width:100%;
    height: auto;
    overflow: auto;
    color:#61b53c;
  }

  .mi_top_left{
    width: 20%;
    float:left;
  }
  .mi_top_left img{
    width:100%;
    padding-left:20px;
    padding-top:5px;
    padding-bottom:5px;

  }
  .mi_top_right{
    padding-top:15px;
    width:80%; 
    float:left;
    }
  .mi_top_right h1{
    font-size: 18px;
    margin: 0;
    text-align: right;
    font-weight: bold;
  }
  .mi_top_right p{
    margin: 0;
    font-size:8px;
    text-align: center;
  }
}